	a {color: #088CD6; text-decoration: none;}
	a:link {color: #088CD6; text-decoration: none;}
	a:active {color: #088CD6; text-decoration: none;}
	a:visited {color: #088CD6; text-decoration: none;}
	a:hover {color: #FFFFFF; background-color: #088CD6; text-decoration: none;
		}
	table#active {background-color: #FFFFFF; }
	table#active td {font-size: 14px; font-family: arial,helvetica,sans-serif; font-weight: bold; color: #0000FF; }
	table#active td a {background-color: #FFFFFF; color: #6EB2F1; text-decoration: none; display: block; padding: 5px 0px 0px 5px; height: 25px;}
	table#active td a:link {color: #0000FF; text-decoration: none;}
	table#active td a:active {color: #0000FF; text-decoration: none;}
	table#active td a:visited {color: #0000FF; text-decoration: none;}
	table#active td a:hover {background-color: #FFFFFF; color: #6EB2F1; text-decoration: none; display: block;
		}
	table#nav {background-color: #6EB2F1; }
	table#nav td {font-size: 14px; font-family: arial,helvetica,sans-serif; font-weight: bold; color: #FFFFFF; }
	table#nav td a {background-color: #6EB2F1; color: #FFFFFF; text-decoration: none; display: block; padding: 5px 5px 5px 5px; height: 25px;}
	table#nav td a:link {color: #FFFFFF; text-decoration: none;}
	table#nav td a:active {color: #FFFFFF; text-decoration: none;}
	table#nav td a:visited {color: #FFFFFF; text-decoration: none;}
	table#nav td a:hover {background-color: #FCFCFC; color: #6EB2F1; text-decoration: none; display: block; 
		}
	table#subnav {margin-left: 5px; margin-bottom: 5px;}
	table#subnav td {font-size: 12px; font-family: arial,helvetica,sans-serif; color: #4D4D4D; border: 1px solid #CCCCCC}
	table#subnav td a {background-color: #F3F3F3; color: #4D4D4D; text-decoration: none; display: block; padding: 1px 4px 1px 4px;}
	table#subnav td a:link {color: #4D4D4D; text-decoration: none;}
	table#subnav td a:active {color: #4D4D4D; text-decoration: none;}
	table#subnav td a:visited {color: #4D4D4D; text-decoration: none;}
	table#subnav td a:hover {background-color: #CCCCCC; color: #4D4D4D; text-decoration: none; display: block;
		}
	table#subnav2 {margin-left: 5px; margin-bottom: 5px;}
	table#subnav2 td {font-size: 12px; font-family: arial,helvetica,sans-serif; color: #4D4D4D; border: 1px solid #CCCCCC}
	table#subnav2 td a {background-color: #F3F3F3; color: #4D4D4D; text-decoration: none; display: block;}
	table#subnav2 td a:link {color: #4D4D4D; text-decoration: none;}
	table#subnav2 td a:active {color: #4D4D4D; text-decoration: none;}
	table#subnav2 td a:visited {color: #4D4D4D; text-decoration: none;}
	table#subnav2 td a:hover {background-color: #CCCCCC; color: #4D4D4D; text-decoration: none; display: block;}
	.subnav2_pad {padding: 1px 4px 1px 4px;
		}
	table#subnav_sub {}
	table#subnav_sub td {font-size: 12px; font-family: arial,helvetica,sans-serif; color: #4D4D4D; border: 0px solid #CCCCCC}
	table#subnav_sub td a {background-color: #E5E5E5; color: #4D4D4D; text-decoration: none; display: block; padding: 1px 4px 1px 15px;}
	table#subnav_sub td a:link {color: #4D4D4D; text-decoration: none;}
	table#subnav_sub td a:active {color: #4D4D4D; text-decoration: none;}
	table#subnav_sub td a:visited {color: #4D4D4D; text-decoration: none;}
	table#subnav_sub td a:hover {background-color: #CCCCCC; color: #4D4D4D; text-decoration: none; display: block;
		}
	.middle {font-size: 12px; font-family: arial,helvetica,sans-serif; line-height: 16px; color: #4D4D4D; padding: 12px;}
	.middle_small {font-size: 10px; font-family: arial,helvetica,sans-serif; line-height: 14px; color: #4D4D4D;}
	.middle_header {font-size: 14px; font-family: arial,helvetica,sans-serif; line-height: 18px; color: #4D4D4D; font-weight: bold;}
	.middle_table {font-size: 12px; font-family: arial,helvetica,sans-serif; line-height: 16px; color: #4D4D4D; padding: 3px; background-color: #F2F2F2;}
	.middle_table2 {font-size: 12px; font-family: arial,helvetica,sans-serif; line-height: 16px; color: #4D4D4D; padding: 3px; border: 1px solid #CCCCCC}
	.footer {font-size: 10px; font-family: arial,helvetica,sans-serif; color: #FFFFFF; padding: 5px 0px 5px 0px;}
	.line {height: 1px; color: #669900;}


p,li {
  font-family: arial,helvetica,sans-serif;
  font-size: small; }

h1,h2 {
  font-family: arial,helvetica,sans-serif;
  color: #000099; }
  
h3,h4 {
  font-family: arial,helvetica,sans-serif;
  color: #000000; }
  
h1 { font-size: x-large; }
h2 { font-size: large; }
h3 { font-size: normal; }
h4 { font-size: small; }

pre {
  font-family: lucida;
  background-color: #cad4e0;
  margin-right: 20px;
  margin-left: 20px;
  font-size: small;
  font-weight: normal; }

code {
  font-family: mono-spaced;
  background-color: #cad4e0;
  font-size: small;
  font-weight: normal; }

var {
  color: #660000;
  font-style: italic;
  font-weight: bold; }

em {
  font-style: normal;
  font-weight: bold; }

hr {
  color: #595d59; }

img.top {vertical-align:text-top}
img.bottom {vertical-align:text-bottom}

.weak {  font-size: medium; font-style: italic; font-weight: normal}
.fine_print {  font-family: arial,helvetica,sans-serif; font-size: small; font-style: italic}
